<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajeevnagarwal.petition">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPetition"
            android:label="@string/title_activity_add_petition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FetchPetitions"
            android:label="@string/title_activity_fetch_petitions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Insert_Petition"
            android:label="@string/title_activity_insert__petition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Show_Petition"
            android:label="@string/title_activity_show__petition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sign"
            android:label="@string/title_activity_sign"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
